<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97419284626-e7lih7be01c9msnmhna4jaikqbfbv30o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97419284626-e7lih7be01c9msnmhna4jaikqbfbv30o</string>
	<key>API_KEY</key>
	<string>AIzaSyCIMV4_ATlB-VFY7oVfXhoS8KADnPOpokQ</string>
	<key>GCM_SENDER_ID</key>
	<string>97419284626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project</string>
	<key>PROJECT_ID</key>
	<string>project-822a1</string>
	<key>STORAGE_BUCKET</key>
	<string>project-822a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97419284626:ios:06fabeb559d335637f164b</string>
</dict>
</plist>